apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: affable
resources:
- deployment.yaml
- service.yaml
- gcs-egress.yaml
- service-account.yaml
commonLabels:
  app: imgproxy
replicas:
- count: 2
  name: imgproxy
