<p>
Hi there,
</p>

<p>
You can reset your password by visiting the URL below:
</p>

<a href="<%= @url %>"><%= @url %></a>

<p>
If you didn't request this change, please ignore this email.
</p>

<p>
Love,
</p>

<p>
The Affable Robots
</p>
