PATH_add bin
source_env operators/site_operator/.envrc
export GOOGLE_APPLICATION_CREDENTIALS="$HOME/.config/gcloud/application_default_credentials.json"
export GOOGLE_SERVICE_ACCOUNT_JSON="$(cat service-account.json)"
export GOOGLE_CLOUD_PROJECT=code-supply
