[Unit]
Description=andrewbruce.net
[Service]
WorkingDirectory=/var/www/www.andrewbruce.net
ExecStart=/var/www/www.andrewbruce.net/bin/server
User=nobody
Group=nogroup
Restart=always
[Install]
WantedBy=multi-user.target
