@tailwind base;
@tailwind components;
@tailwind utilities;

.pop-out button {
    @apply outline-none border-white border-t-2 border-r-2 border-l-2 rounded-t-lg;
}
.pop-out .menu {
    @apply hidden rounded-b-lg;
}
.pop-out button:focus,
.pop-out .menu {
    @apply border-gray-200;
}
.pop-out button + .menu:active,
.pop-out button:focus + .menu {
    @apply block border-l-2 border-r-2 border-b-2;
}
.pop-out .menu li a {
    @apply p-2 no-underline rounded;
}
.pop-out .menu li a:hover {
    @apply bg-gray-200;
}
.pop-out .menu li a:active {
    @apply outline-none;
}

body {
    @apply text-gray-900 bg-gray-100;
}

.container {
    @apply clear-both mx-auto p-2;
}

a:hover {
    @apply text-blue-600;
}
a:focus {
    @apply outline-none shadow-outline rounded
}
a.phx-click-loading {
    @apply animate-ping;
}

h1 {
    @apply text-5xl mb-6;
}
.h2 {
    @apply text-4xl my-6;
}

th {
    @apply text-left;
}

th,td {
    @apply pt-4 pr-4 pb-4;
}

thead tr {
    @apply bg-gray-400;
}

tbody tr:hover {
    @apply bg-gray-100;
}

.save-indicator {
    @apply fixed top-0 left-0 mt-10 w-screen text-center;
}
.save-indicator .saved-state {
    @apply m-auto w-32 p-4
    bg-white
    border-2 border-gray-400 rounded shadow-lg
    transition-opacity duration-1000 ease-out
    opacity-0;
}
.save-indicator .saved-state.saved {
    @apply opacity-100;
}
.save-indicator .saved .message,
.save-indicator .clear .message,
.save-indicator .neutral .message {
    @apply bg-contain bg-no-repeat pl-6;
    background-image: url("/images/check-circle.svg");
}

.position {
    @apply clear-left w-full pb-12;
}

.position .number {
    @apply mt-2 font-bold text-xl text-center text-white rounded-r-md rounded-l-md bg-gray-800 block w-16 float-left;
}

.item {
    @apply relative clear-both;
}

.position a {
    @apply bg-contain bg-no-repeat block absolute top-0 right-0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.position a.promote {
    background-image: url("/images/arrow-up-circle.svg");
}

.position a.demote {
    background-image: url("/images/arrow-down-circle.svg");
    @apply mr-12;
}

li:first-child .promote, li:last-child .demote {
    display: none
}

.field {
    @apply mt-4 clear-left;
}
.field label {
    @apply block text-lg;
}
.invalid-feedback {
    @apply block text-red-800 font-bold;
}
.field input, .field textarea {
    @apply p-2 border-gray-400 border-2 rounded;
}
.field input:focus, .field textarea:focus {
    @apply border-blue-600 shadow-outline outline-none border-transparent;
}
.standard-w .field label, .standard-w .field input, .standard-w .field textarea {
    @apply w-2/3 max-w-md;
}
.chk {
    @apply mr-1;
}
.item .image {
    @apply float-right w-1/3 mt-6 pl-2 mb-4;
}
.field input[type="number"] {
    @apply text-right;
}
.field textarea {
    @apply h-32;
}
.btn {
    @apply
    block w-48
    text-center
    bg-gradient-to-br from-blue-400 to-blue-600
    rounded-md
    text-white text-xl font-bold
    px-2 py-3 mt-6 mb-4 mr-4;
}
.btn:hover,
.btn:focus {
    @apply
    shadow-outline outline-none
}
.btn:hover {
    @apply
    from-blue-500 to-blue-700
}
.btn:active {
    @apply
    text-gray-200
    from-blue-300 to-blue-400
}

.resources {
    @apply w-full;
}
.pending .pending-spinner {
    @apply bg-center bg-no-repeat animate-spin;
    animation-duration: 4s;
    background-image: url("/images/loader.svg");
}
.pending .pending-invisible {
    @apply invisible;
}

.feather {
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    @apply stroke-current text-gray-600 w-12 h-12;
}

.feather:hover {
    @apply text-gray-900;
}
