@tailwind base;
@tailwind components;
@tailwind utilities;

.flash {
    @apply w-3/4 max-w-lg m-auto mt-2 text-xl font-semibold text-center text-white;
}

.flash-error {
    @apply p-4 mb-4 bg-red-500 rounded-lg shadow-md;
}

.flash-info {
    @apply p-4 mb-4 font-semibold text-white bg-green-500 rounded-lg shadow-md;
}

.h-body {
    height: calc(100% - 3.5rem);
}

.pop-out button {
    @apply border-t-2 border-l-2 border-r-2 border-white rounded-t-lg outline-none;
}
.pop-out .menu {
    @apply hidden rounded-b-lg;
}
.pop-out button:focus,
.pop-out .menu {
    @apply border-gray-200;
}
.pop-out button + .menu:active,
.pop-out button:focus + .menu {
    @apply block border-b-2 border-l-2 border-r-2;
}
.pop-out .menu li a {
    @apply p-2 no-underline rounded;
}
.pop-out .menu li a:hover {
    @apply bg-gray-200;
}
.pop-out .menu li a:active {
    @apply outline-none;
}

body {
    @apply text-gray-900 bg-gray-100;
}

.container {
    @apply p-2 mx-auto clear-both;
}

a:hover {
    @apply text-blue-600;
}
a:focus {
    @apply outline-none ring rounded
}
a.phx-click-loading {
    @apply animate-ping;
}

h1 {
    @apply mb-6 text-5xl leading-relaxed;
}
.h2 {
    @apply my-6 text-4xl;
}

th {
    @apply text-left;
}

th,td {
    @apply pt-4 pb-4 pr-4;
}

thead tr {
    @apply bg-gray-400;
}

tbody tr:hover {
    @apply bg-gray-100;
}

.save-indicator {
    @apply fixed top-0 left-0 z-50 mt-4 ml-48;
}

.save-indicator .saved-state {
    @apply w-32 pl-4 m-auto opacity-0 transition-opacity duration-1000 ease-out;
}

.save-indicator .saved-state.saved {
    @apply opacity-100;
}

.save-indicator .saved .message,
.save-indicator .clear .message,
.save-indicator .neutral .message {
    @apply pl-6 bg-no-repeat bg-contain;
    background-image: url("/images/check-circle.svg");
}

.item {
    @apply relative clear-both;
}

.field {
    @apply mt-4;
}

.field label {
    @apply text-lg;
}

.invalid-feedback {
    @apply block font-bold text-red-800;
}

.field input, .field textarea, .field select {
    @apply block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.standard-w .field label, .standard-w .field input, .standard-w .field textarea {
    @apply w-2/3 max-w-md;
}

.item .image {
    @apply float-right w-1/3 pl-2 mt-6 mb-4;
}

.field input[type="number"] {
    @apply text-right;
}

.field textarea {
    @apply h-32;
}

.btn {
    @apply block w-48 px-2 py-3 mt-6 mb-4 mr-4 text-xl font-bold text-center text-white bg-gradient-to-br from-blue-400 to-blue-600 rounded-md;
}

.btn:hover,
.btn:focus {
    @apply text-gray-300 outline-none ring;
}

.btn:hover {
    @apply from-blue-500 to-blue-700
}

.btn:active {
    @apply text-gray-200 from-blue-300 to-blue-400
}

.resources {
    @apply w-full;
}

.pending .pending-spinner {
    @apply bg-center bg-no-repeat animate-spin;
    animation-duration: 4s;
    background-image: url("/images/loader.svg");
}

.pending .pending-invisible {
    @apply invisible;
}

.feather {
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    @apply text-gray-600 stroke-current;
}

.feather:hover {
    @apply text-gray-900;
}

.trash {
    background-image: url("/images/trash.svg");
}

.position {
    @apply w-full clear-left;
}

.position .number {
    @apply block float-left w-16 mt-2 text-xl font-bold text-center text-white bg-gray-800 rounded-r-md rounded-l-md;
}

.position a {
    @apply absolute top-0 right-0 block bg-no-repeat bg-contain;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.position a.promote {
    background-image: url("/images/arrow-up-circle.svg");
}

.position a.demote {
    background-image: url("/images/arrow-down-circle.svg");
}

li:first-child .promote, li:last-child .demote {
    display: none
}
