@tailwind base;
@tailwind components;
@tailwind utilities;

.tab:checked + label {
    @apply text-white bg-gray-400 rounded-t;
}
.menu:target {
    display: block;
}
.menu:target + .backdrop {
    @apply fixed block;
}

.menu-toggle {
    @apply bg-center bg-no-repeat;
    background-image: url("/images/menu.svg");
}

.menu-close {
    @apply bg-center bg-no-repeat;
    background-image: url("/images/x-circle.svg");
}

.flash {
    @apply w-3/4 max-w-lg m-auto mt-2 text-xl font-semibold text-center text-white;
}

.flash-error {
    @apply p-4 mb-4 bg-red-500 rounded-lg shadow-md;
}

.flash-info {
    @apply p-4 mb-4 font-semibold text-white bg-green-500 rounded-lg shadow-md;
}

.h-body {
    height: calc(100% - 3.5rem);
}

body {
    @apply text-gray-900 bg-gray-100;
}

.container {
    @apply p-2 mx-auto clear-both;
}

a:hover {
    @apply text-blue-600;
}

h1 {
    @apply mb-6 text-5xl leading-relaxed;
}
.h2 {
    @apply my-6 text-4xl;
}

th {
    @apply text-left;
}

th,td {
    @apply pt-4 pb-4 pr-4;
}

thead tr {
    @apply bg-gray-400;
}

tbody tr:hover {
    @apply bg-gray-100;
}

.field {
    @apply mt-4;
}

.field label {
    @apply text-lg;
}

.field .invalid-feedback {
    @apply block pt-1 pl-2 font-bold text-red-800;
}

.field input, .field textarea, .field select {
    @apply block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.standard-w .field label, .standard-w .field input, .standard-w .field textarea, .standard-w .field select {
    @apply w-2/3 max-w-md;
}

.field input[type="number"] {
    @apply text-right;
}

.field textarea {
    @apply h-32;
}

.btn {
    @apply block w-48 px-2 py-3 text-xl font-bold text-center text-white bg-gradient-to-br from-blue-400 to-blue-600 rounded-md;
}
.btn-spaced {
    @apply mt-6 mb-4 mr-4;
}

.btn-2nd {
    @apply block w-32 px-1 py-2 text-lg font-bold text-center text-white bg-gradient-to-br from-gray-300 to-gray-500 rounded-md;
}

.btn.sm {
    @apply w-48 px-2 py-3 text-base;
}

.btn:hover,
.btn:focus {
    @apply text-gray-300 outline-none ring;
}

.btn-2nd:hover,
.btn-2nd:focus {
    @apply text-gray-100 outline-none ring-gray-300;
}

.btn:hover {
    @apply from-blue-500 to-blue-700
}

.btn-2nd:hover {
    @apply from-gray-400 to-gray-600
}

.btn:active {
    @apply text-gray-200 from-blue-300 to-blue-400
}

.btn-2nd:active {
    @apply text-gray-200 from-gray-300 to-gray-400
}

.pending .pending-spinner {
    @apply w-4 h-4 p-3 bg-no-repeat animate-spin;
    animation-duration: 4s;
    background-image: url("/images/loader.svg");
}

.pending .pending-invisible {
    @apply invisible;
}

.pending .pending-hidden {
    @apply hidden;
}

.feather {
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    @apply text-gray-600 stroke-current;
}

.feather:hover {
    @apply text-gray-900;
}

.trash {
    background-image: url("/images/trash.svg");
}

.position {
    @apply w-full clear-left;
}

li:first-child .promote, li:last-child .demote {
    display: none
}
