<h1>Dashboard</h1>

<h2>My sites</h2>

<ol>
  <%= for site <- @user.sites do %>
    <li>
      <a href="<%= Routes.affiliate_sites_path(@conn, :edit, site.id) %>"><%= site.name %></a> at these domains:
      <ul>
        <%= for domain <- site.domains do %>
          <li><a href="https://<%= domain.name %>/"><%= domain.name %></a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>
