export K8S_DISCOVERY_TIMEOUT_default=999999
export K8S_DISCOVERY_TIMEOUT_test=999999

config="$(microk8s config)"
password="$(echo "$config" | grep 'password: ' | sed 's/.*password: //')"
echo "$config" \
         | sed "s%server: https://%server: https://admin:$password@%" \
         > /tmp/microk8s-config

# export KUBECONFIG="/tmp/microk8s-config"
