<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Affable">
      <%= assigns[:page_title] || "Site Builder" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <header class="fixed top-0 z-20 w-full">
      <section class="h-12 px-6 mb-6 bg-white shadow-md">
        <%= if @current_user do %>
          <div class="overflow-hidden">
            <a
              id="main-menu-toggle"
              href="#main-menu"
              class="absolute top-0 left-0 h-12 w-14 menu-toggle md:hidden"
            >
            </a>

            <div class="absolute mt-2 ml-8 font-serif text-2xl font-medium md:static md:ml-0 md:pl-1 md:float-left md:w-24">
              <a href="/">Affable</a>
            </div>

            <nav
              id="main-menu"
              role="navigation"
              class="absolute top-0 left-0 z-10 hidden w-2/3 h-screen px-4 py-2 leading-loose bg-white shadow-2xl md:shadow-none md:pt-3 md:pl-3 md:pr-1 md:float-left md:w-auto md:static md:h-auto md:block menu"
            >
              <a
                href="#main-menu-toggle"
                class="absolute top-0 right-0 block h-12 w-14 menu-close md:hidden"
              >
              </a>

              <ul class="text-xl leading-loose md:text-base">
                <li class="md:float-left">
                  <.link
                    href={~p"/sites"}
                    tabindex="1"
                    accesskey="s"
                    class="block w-10/12 md:w-auto md:px-2"
                  >
                    <u>S</u>ites
                  </.link>
                </li>
                <li class="md:float-left">
                  <.link href={~p"/assets"} tabindex="2" accesskey="a" class="block md:px-2">
                    <u>A</u>ssets
                  </.link>
                </li>
                <li class="md:float-left">
                  <.link href={~p"/domains"} tabindex="3" accesskey="o" class="block md:px-2">
                    D<u>o</u>mains
                  </.link>
                </li>
                <li class="md:float-left">
                  <.link
                    href={~p"/users/settings"}
                    tabindex="4"
                    accesskey="t"
                    class="block md:px-2"
                  >
                    Se<u>t</u>tings
                  </.link>
                </li>
                <li class="md:absolute md:right-0 md:mr-2">
                  <.link
                    href={~p"/users/log_out"}
                    tabindex="5"
                    accesskey="l"
                    method="delete"
                    class="block md:px-2"
                  >
                    <u>L</u>og out
                  </.link>
                </li>
              </ul>
            </nav>

            <a
              href="#main-menu-toggle"
              class="w-screen h-screen bg-black bg-opacity-75 backdrop"
              hidden
            >
            </a>
          </div>
        <% else %>
          <div class="pt-3 text-right">
            <nav role="navigation" class="ml-auto">
              <ul>
                <li class="inline-block mr-3">
                  <.link href={~p"/users/register"}>Register</.link>
                </li>
                <li class="inline-block">
                  <.link href={~p"/users/log_in"}>Log in</.link>
                </li>
              </ul>
            </nav>
          </div>
        <% end %>
      </section>
    </header>
    <div class="pt-12">
      <%= @inner_content %>
    </div>
  </body>
</html>
